<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://npmcdn.com/vue/dist/vue.js"></script>
  <title>Vue.js2 The Complete Guide - Section3 Using Conditionals and Rendering Lists</title>
</head>
<body>
  <div id="app">
    <!-- 
      v-if は対象の要素の配下の要素も非表示になる
        今回の場合は <span>Hello!</span> も非表示になる
      ※v-elseif は存在しないので注意
        Vue.js2.1にはv-else-ifが存在します
     -->
    <p v-if="show">You can see me! <span>Hello!</span></p>
    <p v-else>Now you see me!</p>
    
    <!-- 
      template は Html5 の機能です
      template を使う利点としては複数の要素をまとめて v-if をすることができる
      普通の要素だと１つしか出来ないが template は複数できるため良い
      ※template は html の要素として表示されないようになっている
     -->
    <template v-if="show">
      <h1>Heading</h1>
      <p>Inside a template</p>
    </template>

    <!-- 
      要素の表示・非表示の方法には v-if の他に v-show があります
      それぞれの違いは以下の通り
        v-if  :要素自体がなくなる
        v-show:「display:none」が要素のスタイルに付与される
      要素を残しておきたい以外の時は v-if を使えば良さそう
     -->
    <p v-show="show">Do you also see me?</p>
    <button @click="show = !show">Switch</button>
  </div>
  <script src="./app.js"></script>
</body>
</html>
