<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://npmcdn.com/vue/dist/vue.js"></script>
  <title>Vue.js2 The Complete Guide - Section3 Using Conditionals and Rendering Lists</title>
</head>
<body>
  <div id="app">
    <!--  
      (ingredient, i) ってすることで i には index が付与されています
    -->
    <ul>
      <li v-for="(ingredient, i) in ingredients">{{ ingredient }} ({{ i }})</li>
    </ul>
    <!-- 
      template を使用して v-for をすることで１つ以上の要素を繰り返しで描画することができる
      v-if の時と同じです。階層構造のないものに関しては templeteを使用するのが良さそう
     -->
    <template v-for="(ingredient, index) in ingredients">
      <h1>{{ ingredient }}</h1>
      <p>{{ index }}</p>
    </template>
  </div>
  <script src="./app.js"></script>
</body>
</html>
