<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <title>コンポーネントの基本</title>
</head>
<body>
  <!-- 基本例 -->
  <div id="example1">
    <button-counter></button-counter>
  </div>

  <!-- コンポーネントの再利用 -->
  <div id="example2">
    <button-counter></button-counter>
    <button-counter></button-counter>
    <button-counter></button-counter>
  </div>

  <!-- プロパティを使用した子コンポーネントへのデータの受け渡し -->
  <div id="example3">
    <blog-post title="My journey with Vue"></blog-post>
    <blog-post title="Blogging with Vue"></blog-post>
    <blog-post title="Why Vue is so fun"></blog-post>
  </div>
  <div id="example4">
    <blog-post
      v-for="post in posts"
      v-bind:key="post.id"
      v-bind:title="post.title"
    ></blog-post>
  </div>

  <!-- 単一ルート要素 -->
  <div id="example5">
    <blog-post-2
      v-for="post in posts"
      v-bind:key="post.id"
      v-bind:post="post"
    ></blog-post-2>
  </div>

  <!-- 子コンポーネントのイベントを購読する -->
  <div id="example6">
    <div :style="{ fontSize: postFontSize + 'em' }">
      <blog-post-3
        v-for="post in posts"
        v-bind:key="post.id"
        v-bind:post="post"
        v-on:enlarge-text="postFontSize += 0.1"
        v-on:ensmall-text="postFontSize -= 0.1"
        v-on:enlarge-text2="postFontSize += $event"
        v-on:ensmall-text2="postFontSize -= $event"
        v-on:enlarge-text-method="onEnlargeText($event)"
        v-on:ensmall-text-method="onEnsmallText($event)"
      ></blog-post-3>
    </div>
  </div>
  <div id="example7">
    <custom-input v-model="searchText"></custom-input>
    <span>searchText：{{ searchText }}</span>
  </div>

  <!-- スロットによるコンテンツ配信 -->
  <div id="example8">
    <alert-box>
      Something bad happend.
    </alert-box>
  </div>
  <script type="text/javascript">
    // 基本例
    // ※先にコンポーネントを書かないと動かないようだ
    Vue.component('button-counter', {
      // dataは関数でなければなりません
      data: function() {
        return {
          count: 0
        }
      },
      template: '<button v-on:click="count++">You clicked me {{ count }} times.</button>'
    })
    // 基本例
    var example1 = new Vue({ 
      el: '#example1'
    })

    // コンポーネントの再利用
    var example2 = new Vue({
      el: '#example2'
    })

    // プロパティを使用した子コンポーネントへのデータの受け渡し
    Vue.component('blog-post', {
      props: ['title'],
      template: '<h3>{{ title }}</h3>'
    })
    var example3 = new Vue({
      el: '#example3'
    })
    var example4 = new Vue({
      el: '#example4',
      data: {
        posts: [
          { id: 1, title: 'My journey with vue' },
          { id: 2, title: 'Blogging with Vue' },
          { id: 3, title: 'Why Vue is so fun' }
        ]
      }
    })

    // 単一ルート要素
    Vue.component('blog-post-2', {
      props: ['post'],
      template: `
        <div class="blog-post">
          <h3>{{ post.title }}</h3>
          <div v-html="post.content"></div>
        </div>
      `
    })
    var example5 = new Vue({
      el: '#example5',
      data: {
        posts: [
          { id: 1, title: 'My journey with vue', content: 'うわぁああああああ' },
          { id: 2, title: 'Blogging with Vue', content: 'いやぁあああああああ' },
          { id: 3, title: 'Why Vue is so fun', content: 'ぐわぁああああああああ' }
        ]
      }
    })

    // 子コンポーネントのイベントを購読する
    Vue.component('blog-post-3', {
      props: ['post'],
      template: `
        <div class="blog-post">
          <h3>{{ post.title }}</h3>
          <button v-on:click="$emit('enlarge-text')">
            Enlarge text
          </button>
          <button v-on:click="$emit('ensmall-text')">
            Ensmall text
          </button>
          <button v-on:click="$emit('enlarge-text2', 0.1)">
            Enlarge text
          </button>
          <button v-on:click="$emit('ensmall-text2', 0.1)">
            Ensmall text
          </button>
          <button v-on:click="$emit('enlarge-text-method', 0.2)">
            Enlarge text
          </button>
          <button v-on:click="$emit('ensmall-text-method', 0.2)">
            Ensmall text
          </button>
          <div v-html="post.content"></div>
        </div>
      `
    })
    var example6 = new Vue({
      el: '#example6',
      data: {
        posts: [
          { id: 1, title: 'My journey with vue', content: 'うわぁああああああ' },
          { id: 2, title: 'Blogging with Vue', content: 'いやぁあああああああ' },
          { id: 3, title: 'Why Vue is so fun', content: 'ぐわぁああああああああ' }
        ],
        postFontSize: 1
      },
      methods: {
        onEnlargeText: function(enlargeAmount) {
          this.postFontSize += enlargeAmount
        },
        onEnsmallText: function(ensmallAmount) {
          this.postFontSize -= ensmallAmount
        }
      }
    })

    //   コンポーネントで v-model を使う
    Vue.component('custom-input', {
      props: ['value'],
      template: `
        <input
          v-bind:value="value"
          v-on:input="$emit('input', $event.target.value)"
        >
      `
    })
    var example7 = new Vue({
      el: '#example7',
      data: {
        searchText: ''
      }
    })

    // スロットによるコンテンツ配信
    Vue.component('alert-box', {
      template: `
        <div class="demo-alert-box">
          <strong>Error!<strong>
          <slot></slot>
        </div>
      `
    })
    var example8 = new Vue({
      el: '#example8'
    })
  </script>
</body>
</html>
